[submodule "lib/suit"]
	path = lib/suit
	url = https://github.com/vrld/suit
[submodule "lib/colorfactory"]
	path = lib/colorfactory
	url = https://github.com/Skeletonxf/Lua-Color-Factory
[submodule "lib/hc"]
	path = lib/hc
	url = https://github.com/vrld/HC
[submodule "other/love-misc-libs"]
	path = other/love-misc-libs
	url = https://github.com/bartbes/love-misc-libs
[submodule "lib/love-misc-libs"]
	path = lib/love-misc-libs
	url = https://github.com/bartbes/love-misc-libs
[submodule "lib/NoobHub"]
	path = lib/NoobHub
	url = https://github.com/Overtorment/NoobHub/
